.clips{
    position: absolute;
    inset: 0;
}

.wrapper {
  position: relative;
  height: 500vh; /* 5 slides × 100vh of scroll room */
}

.sticky-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.img1{
    clip-path: inset(0 0 0% 0);
}
.img2{
    clip-path: inset(0 0 0% 0);
}
.img3{
    clip-path: inset(0 0 0% 0);
}
.img4{
    clip-path: inset(0 0 0% 0);
}
.img5{
    clip-path: inset(0 0 0% 0);
}